.App {
  text-align: center;
}

.error-message {
  color: red;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}
